@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl; /* الاتجاه الافتراضي للعربية */
  background-color: #ffffff;
  font-family: 'Cairo', sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}